.commandBoxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.messageBox {
    position: relative;
    height: 90%;
    width: 90%;
    overflow-y: scroll;
    border: 1px solid #a2a1a1;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.user-message {
    padding: 5px;
    text-align: right;
}

.other-message {
    padding: 5px;
    text-align: left;
}

.promptForm {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 5%;
}

.promptInput {
    width: 65%;
    border-radius: 8px;
    border-width: 1px;
    margin-right: 5px;
}

.sendPromptButton {
    background-color: #5cd0e4;
    border-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;
}