@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

/*The top/headline of the web*/
.ICON {
  display: inline-block;
  margin: auto;
  gap: 10px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-image: linear-gradient(to bottom right, #a6e2f9, #6bdfec);
  text-align: left;
  align-items: center;
  z-index: 10;
  border: 2px solid rgba(255, 255, 255, 0.3);

  font-size: 20px; /* Text if picture wasn't loaded*/

  transition: background-color 0.3s, color 0.3s;
}

img {
  width: auto;
  height: 100px;
}

.color {
  position: absolute;
  filter: blur(150px);
  will-change: transform;
}

.color:nth-child(1) {
  top: -10%;
  left: 0%;
  width: 50%;
  height: 50%;
  background: rgb(72, 212, 220);
}

.color:nth-child(2) {
  bottom: -10%;
  left: 40%;
  width: 55%;
  height: 50%;
  background: rgb(8, 140, 145);
}

.color:nth-child(3) {
  top: 25%;
  right: 15%;
  width: 35%;
  height: 35%;
  background: rgb(91, 91, 175);
}

/*The integrated features of the web, on the left of the web*/
.panel {
  position: absolute;
  top: 14%;
  left: 5%;
  width: 30%;
  height: 83%;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 30px;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.495);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  z-index: 2;

  transition: background-color 0.3s, color 0.3s;
}

/* Content in the panel */
.Video-audio-Select {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 1vw;
  border-radius: 30px;
}

.commentbox {
  position: relative;
  right: 10px;
  height: 60vh;
  width: 25vh;
  overflow-y: scroll;
  border: 1px solid #a2a1a1;
  margin-bottom: 10px;
  border-radius: 20px;
}

.MediaBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  align-items: center;
}

.button-4 .search {
  grid-column: 2;
}

.inputbox {
  position: relative;
  font-size: 1vw;
  grid-column: 1;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 55%;
  overflow: scroll;
  gap: 5px;
  align-items: center;
  justify-items: center;
}

.videoGrid {
  position: relative;
  bottom: 60px;
  display: grid;
  margin: 55px;
  grid-template-columns: repeat(2, 10vw);
  height: 30%;
  overflow: scroll;
  gap: 5px;
  align-items: center;
  justify-items: center;
}

.selection-result-bar {
  top: 8%;
  position: absolute;
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.feature-select {
  bottom: 1%;
  position: absolute;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.hidden {
  display: none;
}
/* End: Content in the panel*/

/*Drop and upload area of the web*/
.Upload {
  top: 14%;
  right: 2%;
  width: 60%;
  height: 45%;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  overflow: auto;
  position: absolute;
  box-sizing: border-box;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;

  transition: background-color 0.3s, color 0.3s;
}
/*The bottom part of the web*/
.Timeline {
  flex: 2;
  position: absolute;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  bottom: 2%;
  right: 2%;
  width: 60%;
  height: 35%;
  background-color: #1f1f1f;
  border-radius: 10px;
  z-index: 6;
}

/* Feature Button */
.button-4 {
  width: 10vw;
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 0.85vw;
  line-height: 1em;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button-4:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  border-radius: 10px; /* Match the border radius of the container */
  margin: 10px;
}

/* Theme Change */
.checkbox-container {
  position: fixed;
  left: 1350px;
  top: 10px;
  z-index: 10;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/* Dark Theme */
body.dark {
  color: #ffffff;
  background-color: #160c22;
}

body.dark .ICON {
  background-image: linear-gradient(to bottom right, #181a27, #1d202d);
}

body.dark .panel {
  background-color: #0000009e;
}

body.dark .content {
  border: 1px solid #181717;
  background-color: #0000009e;
}

body.dark .button-4 {
  background-color: #262b39;
  color: #acb3d4;
}

body.dark .button-4:hover {
  box-shadow: #ffffff 0 0 0 1px, transparent 0 0 0 0;
}
body.dark .checkbox-label {
  background-color: #eeeded;
}

body.dark .checkbox-label .ball {
  background-color: #3438529e;
}

/* square anime effect */
.square {
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}
.square:nth-of-type(4) {
  top: -10px;
  right: 60px;
  width: 100px;
  height: 100px;
}
.square:nth-of-type(5) {
  top: 60px;
  left: -30px;
  width: 120px;
  height: 120px;

  z-index: 3;
}
.square:nth-of-type(6) {
  top: 400px;
  left: 300px;
  width: 200px;
  height: 200px;

  z-index: -1;
}
