.timelinePlayerBar {
  font-weight: 200;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  height: 35px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3a3a3a;
  color: #ddd;
  z-index: 10;
}

.playOrPauseButton {
  position: relative;
  left: 10px;
  align-items: center;
  background-color: #a5a5a5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  margin: 5px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  height: 25px;
  width: 50px;
}

.playOrPauseButton:hover,
.playOrPauseButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.playOrPauseButton:hover {
  transform: translateY(-1px);
}

.playOrPauseButton:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.displayTime {
  position: relative;
  left: 10px;
  font-size: 14px;
  margin: 0 20px;
}

.play_pause_icon {
  height: 25px; /* Adjust this value as needed to fit the button */
  border-radius: 15px;
  z-index: 10;
}

.playerSpeedControl {
  position: absolute;
  left: 200px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-self: flex-end;
  font-size: 14px;
}
