.tabs {
    top:0%;
    width: 100%;
    height: 100%;
    position: absolute;

    z-index: 5;
  }

  .tabs .tabs-header {
    padding: 5px 0;
    display: flex;
    position: relative;
    gap: 1%;
    top:10%;
    left: 6%;
    width: 90%;
    
  }

  .tabs .tabs-header button {
    appearance: none;
    background: none;
    color: #555;
    border-radius: 3px;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
    font-weight: 500;
    outline: none;
    transition: color 0.3s ease; 
  }

  .tabs .tabs-header button[aria-selected="true"] {
    color: #0084b5;
  }

  .tabs .tabs-panel {
    background: none;
    height: 150px;
    padding: 15px;
    border-radius: 2px;
    outline: none;
  }

  /* Update active tab indicator */
  .tabs .active-tab-indicator {
    height: 2px;
    background: #0084b5;
    position: absolute;
    top: 13.6%; 
    transition: left 0.3s ease;
    z-index: 5;
  }



/* Dark Theme */
body.dark {
  color: #ffffff;
  background-color: #160c22;
}

body.dark .tabs-header {
  color: #ffffff;
}

body.dark .tabs .tabs-header button {
  color: #555;

}

body.dark .tabs .tabs-header button[aria-selected="true"] {
  color: #fbfbfb;
}

body.dark .tabs .active-tab-indicator{
  background: #ffffff;
}
