.ICON{
    display: inline-block;
    margin: auto;
    gap: 10px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-image: linear-gradient(to bottom right, rgb(246,252,254), rgb(255,255,255));
    text-align: left;
    align-items: center;
    z-index: 3;

    font-family: Georgia, 'Times New Roman', Times, serif; /* Text if picture wasn't loaded*/
    font-size: 20px;
    font-weight: 600;
}

img {
    width: auto;
    height: 100px;
}

.panel {
    position: absolute;
    top: 10%;
    left: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    padding: 10px;
    z-index: 2;
}

.content {
    top: 100px;
    right: 200px;
    width: 800px;
    height: 200px;
    background-color: #f0f0f0;
    border: 1px solid #bfb9b9;
    border-radius: 20px;
    overflow: auto;
    position: absolute;
    box-sizing: border-box;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.bottom {
    flex: '2';
    display: 'flex';
    position: fixed;
    justify-content: center;
    bottom: 20px;
    right: 20px;
    left: 20px;
    height: 300px;
    background-color: #000000;
    border-radius: 10px;
    padding: 10px;
    z-index: 2;
  }